body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-nav {
  font-weight: bolder;
}
.nav-item {
  margin-right: 10px;
}
.navbar{
  background: white;
}
.hero{
  height: 85vh;
  width: 100%;
  z-index: -1;
}
#introduction{
  background-color: HSL(240,12%,22%);
  color: white;
  text-align: center;
  padding: 5vh;
}
#introduction2{
  background-color:white;
  padding: 5vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scrollable-container{
  height: 600px;
}
#introduction3{
  background-color: HSL(240,12%,22%);
  color: white;
  text-align: center;
  padding: 5vh;
}
.footer{
  background-color: HSL(240,12%,22%);
  color: white;
  text-align: center;
}
#room{
  width: 100%;
  padding-top: 5vh;
}
.accordion-button{
  font-size: xx-large;
  
}
.accordion{
  margin: 10px 150px;
  
}
section{
  position: relative;
  width: 100%;
  height: 50vh;
  background: HSL(240,12%,22%);
  overflow: hidden;
}
section .wave{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100px;
background: url(/wave.png);
background-size: 1000px 100px;
}
section .wave.wave1
{
  animation: animate 25s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .wave.wave2
{
  animation: animate2 10s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .wave.wave3
{
  animation: animate 15s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}
section .wave.wave4
{
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate
{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}
@keyframes animate2
{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}
#booknow{
  background-color: rgba(155, 96, 96, 0.582);
}
#testlogo{
  height: 50px;
  position: inherit;
}
.footer{
  text-align: center;
  padding: 10vh;
}
.map-container{
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
}
.container-room{
  padding: 10px;
  margin: 10px;
}
.room-img{
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
}
.room-img:hover{
  border: 1px solid black;
  opacity: 0.8;
}
.room-img1{
  height: 15vh;
  width: 100% ;
}
.room-img1:hover{
  border: 1px solid black;
  opacity: 0.8;
}
#rightside{

margin: 10px;
padding: 10px;
border-radius: 10px;
}
#leftside{
  background: HSL(240,12%,22%);
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
}
.numberCount{
  width: 40px;
  text-align: center;
  margin-bottom:  10px;
}
.clicker{
  width: 30px;
  border-radius: 50%;
}
.taxes{
  color: gray;
  font-size: 11px;
}
.excellent{
  color: gray;
  font-size: 15px;
  margin-inline-end: 5px;
}
.rate{
  font-style: italic;
  background-color: rgba(255, 0, 0, 0.664);
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}
.tittle{
  color: HSL(240,12%,22%);
}
.intro{
  background-color: rgba(255, 255, 255, 0.726);
  color: black;
  padding: 10px;
  border-radius: 10px;
}
.card1{
  height: 50px;
}
.card-input{
  width: auto;
}
